/*.grid-sidebar{*/
/*    background: #27496d;*/
/*    top: 60px;*/
/*    position: fixed;*/
/*    right: 0;*/
/*    height: 100%;*/
/*    width: 70px;*/
/*    transition: 0.5s;*/
/*    transition-property: right;*/
/*    padding: 3px;*/
/*    padding-top: 150px;*/
/*    z-index: 999;*/
/*}*/

.btn-circle.btn-lg {
  width: 60px;
  height: 60px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 100px;
  border: none;
  outline:0 !important;
  margin: 3px;
    text-align: center;
    padding-top: 15px;
}

.btn-circle.btn-lg:focus{
    outline:0 !important;
}

#grid-panel-header{
    background: #27496d;
}

.form-group{
    height: 40px;
    text-align: center;
}

#form-header{
    padding: 10px;
    font-family: sans-serif;
    font-size: large;
}




